<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>FreeSS</title>
        <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ static_url('css/font-awesome.css') }}">
        <style>
          #mask {
              content: ' ';
              position: fixed;
              width: 100%;
              height: 100%;
              top: 0;
              background: #000;
              opacity: .7;
              z-index: 9999;
              display: none;
          }
          #loading-icon {
              width: 200px;
              position: fixed;
              top:46%;
              margin-left: -100px;
              left:50%;
              display: none;
              z-index: 9999;
              color:white;
              text-align: center;
          }
        </style>
    </head>
    <body>
      <div id="mask"></div>
      <div id="loading-icon">
        <i class="fa fa-circle-o-notch fa-spin fa-4x"></i>
        <p id="loading-hint"></p>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10">
            <div ng-controller="serverCtrl">
              <div class="page-header">
                <h3>
                  <i class="fa fa-lg fa-github"></i>
                  <a target="_blank" href="https://github.com/edwardw1987/freess">
                    edwardw1987/freess
                  </a>
                </h3>
                <p ng-if="sourceFromUrl">Thanks to <a target="_blank" href="[[sourceFromUrl]]">[[ sourceFromUrl ]]</a></p>
              </div>
              <!-- Table -->
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Server Address</th>
                    <th>trys</th>
                    <th>Status</th>
                    <th>Delay</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="server in serverList">
                    <td>[[ $index + 1 ]]</td>
                    <td>[[ server.addr ]]
                      <a ng-if="server.ports.length > 0" href="javascript:;" class="pull-right" style="text-decoration: none;">
                        <span ng-repeat="port in server.ports" class="label label-success">Port [[ port ]]</span>
                      </a>
                    </td>
                    <td>[[ server.tries ]]</td>
                    <td>
                      <i ng-if="server.status == 'ok'" class="fa fa-check text-success fa-lg"></i>
                      <i ng-if="server.status != 'ok'" class="fa fa-close text-danger fa-lg"></i>
                    </td>
                    <td>[[ server.delay ]]</td>
                    <td>
                      <!-- Single button -->
                      <div class="btn-group dr"
                        title="Start a Server"
                        data-placement="left"
                        ng-if="server.status == 'ok'"
                        >
                        <button type="button" class="btn btn-info dropdown-toggle"
                        data-toggle="dropdown">
                        <i class="fa fa-power-off fa-lg"></i>&nbsp;&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li ng-repeat="port in ports"><a href="javascript:;"
                            data-url="{{ url_for('.localserver_run') }}?cmd=[[ server.cmd]]&port=[[ port ]]"
                          class="port">Port [[ port ]]</a></li>
                          <li class="divider"></li>
                          <li class="restart-all"><a href="javascript:;"><b>Restart All</b></a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/angular.min.js') }}"></script>
    <script>
      function showLoadingIcon(text) {
          var $mask = $('#mask'),
              $loadingIcon = $('#loading-icon')
          if (text === undefined) text = 'Loading...'
          $mask.fadeIn(200);
          $loadingIcon.show().find('#loading-hint').text(text)
      }
      function hideLoadingIcon() {
          var $mask = $('#mask'),
              $loadingIcon = $('#loading-icon')
          $loadingIcon.hide()
          $mask.fadeOut(200)
      }

      angular.module('app', [])
      .config(['$interpolateProvider', function($interpolateProvider) {
          $interpolateProvider.startSymbol('[[');
          $interpolateProvider.endSymbol(']]');
      }])
      .controller('serverCtrl', ['$scope', '$http', function($scope, $http){
          $scope.getServerList = function(){
            showLoadingIcon()
            $http({
              method: 'GET',
              url: '{{ url_for(".api_server")}}'
            }).then(function(resp){
              $scope.serverList = resp.data.server_list;
              $scope.ports = resp.data.ports;
              $scope.sourceFromUrl = resp.data.url;
              hideLoadingIcon()
            })
          }
          $scope.getServerList()
      }])
      ;
    </script>
    <script type="text/javascript">
      $(function(){
          // 
          // ws.onopen = function() {
          //    ws.send("Hello, world");
          // };
          // ws.onmessage = function (evt) {
          //   if (evt.data != 'over') {
          //     $(".table tbody").append(evt.data).find('tr:last').fadeIn();
          //     $('[title]').tooltip();
          //     ws.send('next')
          //   }
          // };
          function onClickPort(e){
            var url = $(this).data("url");
            $.get(url).done(function(data){
              window.location.reload();
            });
          }
          function onClickRestartAll(e){
            var $a = $(this).siblings().children('a');
            console.log($a.length)
            $a.each(function(){
              $.get($(this).data('url'));
            })
            window.location.reload();
          }
          $(".table").on("click", ".port", onClickPort)
          .on("click", ".restart-all", onClickRestartAll)
          ;
        
      })
    </script>
    </body>
</html>
